<ion-content class="bg">

  <ion-grid class="no-padding bg-primary">
   
    <h4 class="small-title">Journey Planner</h4>
    <ion-row style="padding: 0px 11px 10px">
      <ion-col>
        <ion-list inset>

          <ion-item>
            <ion-icon name="list" item-start class="white"></ion-icon>
            <ion-select interface="popover" placeholder="Service" [(ngModel)]="service" (ionChange)="getOrigin($event)">
              <ion-option *ngFor="let item of servicesList" [value]="item.SERVICE_NAME" (ionSelect)="getOrigin(item.SERVICE_NAME)">{{item.SERVICE_NAME | titlecase}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-icon name="ios-pin-outline" item-start class="white"></ion-icon>
            <ion-select interface="popover" [disabled]="!showOrigin" placeholder="Origin" [(ngModel)]="origin">
                <ion-option *ngFor="let item of originList" [value]="item.STOP_CODE" (ionSelect)="getDestination(item.STOP_CODE)">{{item.STOP_NAME | titlecase}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item class="no-margin">
            <ion-icon name="ios-pin-outline" item-start class="white"></ion-icon>
            <ion-select interface="popover" [disabled]="!showDestination" placeholder="Destination" [(ngModel)]="destination">
                <ion-option *ngFor="let item of destinationList" [value]="item.STOP_CODE" >{{item.STOP_NAME | titlecase}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <ion-col style="padding: 2px 13px;">
      <button ion-button full class="button-yellow" (click)="search()"><ion-icon name="ios-subway" item-start style="font-size:2.3rem;margin-right:10px"></ion-icon> Search</button>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col style="padding: 2px 13px;">
        <button ion-button full class="button-yellow" (click)="timetable()"><ion-icon name="md-calendar" item-start style="font-size:2.3rem;margin-right:10px"></ion-icon> Timetable</button>
      </ion-col>
    </ion-row>

    <ion-card style="height: 30%;padding: 5px;">
      <ion-slides pager autoplay="10000" loop="true" pager="true" style=""> 
        <ion-slide >
            <img src="http://www.utusan.com.my/polopoly_fs/1.791561.1542811073!/image/image.jpeg_gen/derivatives/landscape_620/image.jpeg" style="width: 100%;"/>
        </ion-slide>
        <ion-slide>
            <img src="http://intranet4.ktmb.com.my/ktmb/uploads/files/ktm_holiday_small_banner.jpg "  style="width: 100%;" />
        </ion-slide>
      <!-- <ion-slide>
        <img src="http://intranet4.ktmb.com.my/ktmb/uploads/files/komuter_banner_small.jpg" />
      </ion-slide> -->
    </ion-slides>
    </ion-card>

  <!-- <ion-row>
    <ion-col>
      <ion-slides pager autoplay="10000" loop="true" pager="true" style=""> 
          <ion-slide >
              <img src="http://www.utusan.com.my/polopoly_fs/1.791561.1542811073!/image/image.jpeg_gen/derivatives/landscape_620/image.jpeg" />
          </ion-slide>
          <ion-slide>
              <img src="http://intranet4.ktmb.com.my/ktmb/uploads/files/ktm_holiday_small_banner.jpg" />
          </ion-slide>
        <ion-slide>
          <img src="http://intranet4.ktmb.com.my/ktmb/uploads/files/komuter_banner_small.jpg" />
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row> -->



</ion-content>