page-home {
      .item-md ion-icon[item-start] + .item-inner{
          margin-left: 0px;
      }
      .item > ion-icon{
        font-size: 2.2rem
      }
      

      .grey{
          color: #9da5b3
      }
      .white{
          color: #fff
      }
      ion-select{
          width: 100%;
          max-width: 100%;
          background: color($colors, third);
          color: #fff;
      } 

      // .select-md

      .list-md[inset]{
        margin: 0px;
      }

      .footer{
        // left: 0;
        // bottom: 0;
        // position: absolute;
        // z-index: 10;
        // display: block;
        width: 100%;
        padding: 10px;
        text-align: center
      }

      .text-footer{
        padding: 10px;
        text-align: center;
      }

      .item-block{
        height: 4.0rem;
        margin-bottom: 10px;
      }

      .no-margin{
        margin: 0px !important;
      }

      .no-padding{
        padding: 0px
      }

    .small-title{
      color: #fff;
      font-weight: 700;
      font-size: 14px;
      text-align: center
    }

    ion-item {
      padding-left: 10px !important;
        font-size: 1em;
        border: 1px solid #ffffff;
        border-bottom: 0px !important;
        box-shadow: none !important;
        background-color: color($colors, third) !important;
    }

    .list-md .item-block .item-inner{
      border-bottom: 0px
    }
    .item-md{
      font-size: 1.5rem
    }
    .select-md .select-icon .select-icon-inner{
      color: #fff;
    }

    .button-primary,.button-yellow{
      border-radius: 3px;
      box-shadow: none;
      font-weight: 700;
      text-transform: capitalize;
      height: 5rem;
      font-size: 17px
    }

    .select-md .select-placeholder{ color: #fff; }
}
